body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #000;
}

.nav-link, .navbar-brand {
  color: white !important;
}

.section {
  padding: 100px 20px;
  text-align: center;
}

.home {
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.project-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}.bar {
  width: 300px;
  height: 10px;
  background: #ddd;
  margin: 10px auto;
  border-radius: 10px;
}

.fill {
  height: 100%;
  background: #0d6efd;
  border-radius: 10px;
}

.python { width: 80%; }
.web { width: 75%; }
.ml { width: 65%; }
.dark {
  background: #121212;
  color: white;
}

.dark .project-card {
  background: #1f1f1f;
}